.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  .title {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
  }

  .preview {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 0.5rem;
  }
}
